syntax: glob

*.py[cod]
*.pyc
*.so
*.db
*.mo
*.pid
*.log
.*.swp
*.*~

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib64

# Installer logs / Unit test / coverage reports
pip-log.txt
.coverage
.tox
nosetests.xml

# Project specific
pelicanconf.py
*.orig
content/*
output/*
cache/*